th.celltd{
    width: 100px;
    height: 100px;
    text-align: center
}
.hello{
    color: green;
}
.c {
    /*border: 1px solid #333; !* Рамка *!*/
    display: inherit;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    /*padding: 5px 15px; !* Поля *!*/
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    font-size: 500%;
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}